// Zellij config - minimal with Catppuccin theme

default_layout "terminal"
default_mode "locked"

theme "catppuccin-frappe"

plugins {
    zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm"
}
